/Makefile
/Makefile.in
/aclocal.m4
/compile
/config.guess
/config.h
/config.sub
/configure
/depcomp
/detect_marker
/install-sh
/libtool
/ltmain.sh
/missing
/autom4te.cache
/stamp-h1
/config.log
/config.status
/config.h.in
*~
*.o
core
octave-core
*.yml
/streampic
/imshow
